textarea {
    min-height: 400px;
}

.list-group-item{
    border:2px;
    border-style:solid;
    border-color:black;
    border-radius:5px;
    background-color:blue;
    margin : 0px 0px 10px 0px;
    color:white;
    cursor:pointer;
}

.list-group-item-primary{
    border:2px;
    border-style:solid;
    border-color:black;
    border-radius:5px;
    background-color:rgba(0,23,51,255);
    margin : 0px 0px 10px 0px;
    color:white;
    cursor:pointer;
    text-align:left;
    padding-left:20px;
    padding-top:10px;
}

.mail_body{
    min-height:400px;
}

.btn{
    margin : 0px 5px 0px 5px;
    min-width : 100px;
}